<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<%= form_for @message do |message| %>
	<div class="form-group">
		<%= message.label :Update_Message %>
		<p>Title <%= message.text_field :title, class: "form- control" %></p>
		<p>Body <%= message.text_field :body, class: "form- control" %></p>
	</div>
	<%= message.button 'Update Message', class: "btn btn-success" %>
<% end %>

